---
layout: page
title: Ömer Faruk AKDAĞ
subtitle: Subtitle
use-site-title: true
lang: tr
ref: index-page
---

<div class="posts-list container-fluid">
  {% assign posts=site.posts | where:"lang", page.lang %}
  {% for post in posts %}
  {% if post.blog %}
  <article class="row post-preview">
      <span class="col-sm-2 post-date hidden-xs">
        {% assign m = post.date | date: "%-m" %}
        {{ post.date | date: "%-d" }}
        {% case m %}
        {% when '1' %}{{ site.dateResource[page.lang].January }}
        {% when '2' %}{{ site.dateResource[page.lang].February }}
        {% when '3' %}{{ site.dateResource[page.lang].March }}
        {% when '4' %}{{ site.dateResource[page.lang].April }}
        {% when '5' %}{{ site.dateResource[page.lang].May }}
        {% when '6' %}{{ site.dateResource[page.lang].June }}
        {% when '7' %}{{ site.dateResource[page.lang].July }}
        {% when '8' %}{{ site.dateResource[page.lang].August }}
        {% when '9' %}{{ site.dateResource[page.lang].September }}
        {% when '10' %}{{ site.dateResource[page.lang].October }}
        {% when '11' %}{{ site.dateResource[page.lang].November }}
        {% when '12' %}{{ site.dateResource[page.lang].December }}
        {% endcase %}
        {{ post.date | date: "%Y" }}
      </span>
      <div class="col-sm-10 col-xs-12">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <span class="post-title">{{ post.title }}</span>
        </a>
      </div>
  </article>
  {% endif %}
  {% endfor %}
</div>